In [1]:

import pandas as pd

# Sample data
data = {'Name': ['Alice', 'Bob', 'Cara'], 'Score': [85, 90, 95]}
df = pd.DataFrame(data)

df.describe()

       Score
count    3.0
mean    90.0
std      5.0
min     85.0
25%     87.5
50%     90.0
75%     92.5
max     95.0